@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Raleway:wght@300;400;500;600;700;800&display=swap");

:root {
  --c-black: #ffffff;
  --c-white: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-family: "Raleway", sans-serif; */
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--c-white);
}

li {
  list-style: none;
}

body {
  height: 200vh;
  background-color: var(--c-black);
  color: var(--c-white);
}
.full-container {
  margin: 2rem 8rem;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 500;
  font-size: 2rem;
  color: transparent;
  background: rgb(0, 40, 117);
  background: -webkit-linear-gradient(0deg, #7313e0 0%, #4f0bcd 100%);
  -webkit-background-clip: text;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 4rem;
  position: relative;
}
.nav-links a {
  color: #5b0eeb;
}

.nav-links li:not(.contact) a::after {
  position: relative;
  display: block;
  top: 2px;
  content: "";
  height: 2px;
  width: 20px;
  border-radius: 1rem;
  background: #5b0eeb;

  opacity: 0;
}

.nav-links li:hover a::after {
  opacity: 1;
  transition-duration: 0.3s;
}

.contact {
}

.contact a {
  color: #5b0eeb;
}
.contact:hover {
}

.hero-container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;

  background: url(../assets/ShubhamMainBg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right 0 top 0;
}
.hero-left-section {
  flex: 1;
}

.hero-heading {
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  color: transparent;
  background: rgb(0, 40, 117);
  background: -webkit-linear-gradient(210deg, #13e0e0 0%, #5b0eeb 100%);
  font-family: "Raleway";
  -webkit-background-clip: text;

  margin-top: -2rem;
}

.hero-description {
  position: relative;
  margin-top: 2rem;
  font-size: 1.2rem;
  line-height: 1.7;
}

.hero-description span {
  font-weight: 500;
  font-size: 1.3rem;
}

.hero-work-btn {
  width: 20rem;
  padding: 2rem 6rem;
  position: absolute;
  right: 3px;
  bottom: 0.5rem;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hero-work-btn a {
  color: #fff;
}

.hero-right-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.first,
.second,
.third {
  margin-top: 3rem;
  margin-right: 1rem;
  height: 20rem;
  width: 13rem;
  box-shadow: 2.8px 5.6px 5.6px rgba(0, 0, 0, 0.24);

  border-radius: 15px;
  background-image: url(../assets/projectScreenshots/completedScreenshot01.jpg);
  background-repeat: no-repeat;
  background-size: 52.5rem;
}

.first {
  background-position: bottom 0 left -6rem;
}
.second {
  background-position: top left -20rem;
  margin-top: -2rem;
}
.third {
  background-position: bottom 0 left -34rem;
}

.first:hover,
.second:hover,
.third:hover {
  transform: scale(1.05);
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  background-color: #a927ff15;
  background-blend-mode: darken;
}

.project-work {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 10rem;
  color: #c3c3c34f;
  font-family: "Raleway";
}
.project-work::after {
  content: "Work";
  display: block;
  position: absolute;
  bottom: 2.5rem;
  color: #5b0eeb;
  font-size: 5rem;
  font-weight: 900;
  font-family: "Raleway";
}

.projects {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 4rem;
  row-gap: 6rem;
}

.project {
  background: rgba(255, 255, 255, 0);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border-radius: 10px;
  width: 28rem;
  height: 22.6rem;
}

.project:hover {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.project:hover .project-img img {
  transform: scale(1.1);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

  transition: 400ms;
  transition-timing-function: ease-in-out;
}

.project-img img {
  width: 100%;
  border-radius: 20px 20px 10px 10px;
}

.project-title {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

.project-links {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.project-live-link,
.project-github-link {
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 3.5rem;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  font-size: 15px;
}

.project-live-link {
}
.project-github-link {
}
.project-github-link svg {
  width: 30px;
  margin-right: 10px;
}

.project-live-link:hover {
  /* box-shadow: rgba(205, 23, 255, 0.644) 2px 2px 2px; */
}

.project-github-link:hover {
  /* box-shadow: rgba(0, 163, 46, 0.644) 2px 2px 2px; */
}

/* Experimental */

.btn {
  width: 10rem;
  height: 3.5rem;
  border-radius: 5rem;
  box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #ffffff;
  justify-self: center;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.btn__primary {
  background: #6d5dfc;
  box-shadow: inset 0.2rem 0.2rem 1rem #8abdff,
    inset -0.2rem -0.2rem 1rem #5b0eeb, 0.3rem 0.3rem 0.6rem #c8d0e7,
    -0.2rem -0.2rem 0.5rem #ffffff;
  color: #e4ebf5;
  background: #6d5dfc;
}

.btn__primary:active {
  box-shadow: inset 0.2rem 0.2rem 1rem #5b0eeb,
    inset -0.2rem -0.2rem 1rem #8abdff;
}

.btn__secondary {
  color: #6d5dfc;
  background: #e4ebf5;
}

.btn__secondary:active {
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7,
    inset -0.2rem -0.2rem 0.5rem #fff;
}

/* Blog Section */

.blog-link {
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
  text-decoration: underline;
}

.blog-link :hover {
  color: #6d5dfc;
}

.top-heading-text {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 10rem;
  color: #c3c3c34f;
  font-family: "Raleway";
  font-weight: 700;
  margin-top: 7rem;
}
.blog-container .top-heading-text:after {
  content: "Blog";
  display: block;
  position: absolute;
  bottom: 2.5rem;
  color: #5b0eeb;
  font-size: 5rem;
  font-weight: 900;
  font-family: "Raleway";
}

.email-container .top-heading-text:after {
  content: "Email";
  display: block;
  position: absolute;
  bottom: 2.5rem;
  color: #5b0eeb;
  font-size: 5rem;
  font-weight: 900;
  font-family: "Raleway";
}
